html {
  scroll-behavior: smooth;
  font-weight: 200;
}

input {
  background-color: var(--background);
  color: var(--foreground);
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: rgb(from var(--primary) r g b / 0.5) !important;
  border-radius: 50%;
  z-index: -1;
  width: 20vw;
  top: 200px;
  height: 20vw;
  filter: blur(10vw);
  will-change: transform;
  animation: shadow-slide infinite 12s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: rgb(from var(--primary) r g b / 0.2) !important;
    right: 80vw;
  }
  to {
    background: rgb(from var(--primary) r g b / 0.8) !important;
    right: 0vw;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: rgb(from var(--primary) r g b / 0.2) !important;
      right: 80vw;
    }
    to {
      background: rgb(from var(--primary) r g b / 0.5) !important;
      right: 0vw;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 140px;
    width: 40vw;
    height: 60vw;
    filter: blur(20vw);
  }

  @keyframes shadow-slide {
    from {
      background: rgb(from var(--primary) r g b / 0.1) !important;
      right: 80vw;
    }
    to {
      background: rgb(from var(--primary) r g b / 0.2) !important;
      right: 0vw;
    }
  }
}
